body 
    {
        background: #eeb174;
    }

header
    {
        padding: 20px 0;
        background: url(imagens/fundo.png);
    }

#logo
    {
        width: 6%;
        
    }

.menu
    {
        position: relative;
    }

nav
    {
        position: absolute;
        top: 0px;
    }

nav li
    {
        display: inline;
        margin: 0 0 0 15px;
    }

nav a
    {
        text-transform: uppercase;
        color: #eeb174;
        font-style: 20px;
        text-decoration: none;
    }

h1
    {
        text-align: right;
        color: #8c443b;
        font-size: 55px;
        font-style: italic;
        font-family: cursive;
    }
   
h2
    {
        text-align: right;
        color: #8c443b;
        font-size: 25px;
        font-style: italic;
    }

p
    {
        text-align: center;
    }

li
{
    background: #8c443b;
    color: #eeb174;
    list-style-image: url(imagens/biscoito.png);
    display: inline-block;
	text-align: center;
	width: 100%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 10px 7px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 15px;
}

a:hover{
    text-decoration: underline;
}

a:active{
    color: black;
    font-weight: bold;    
}

.imagemFundo{
    text-align: right;
}
#teste{
    right: 0;
    width: 70%;
}
.publicacoes{
    position: absolute;
   height: 400px;
    width: 400px;

}